
.navbar {
  background-color: #000000; /* Pastel blue */
  color: white; /* Dark text for contrast */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu button {
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: Cicular, sans-serif;
  padding: 10px 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar-menu button:hover, button.active {
  background-color: black; /* Lighter pastel blue for hover */
  border-radius: 5px;
}